$red: #FF0402;
$dark-blue: #324563;

@font-face {
    font-family: 'ProximaNova';
    src: url('../font/proxima_regular/proxima-nova-regular.eot');
    src: url('../font/proxima_regular/proxima-nova-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/proxima_regular/proxima-nova-regular.woff2') format('woff2'),
    url('../font/proxima_regular/proxima-nova-regular.woff') format('woff'),
    url('../font/proxima_regular/proxima-nova-regular.ttf') format('truetype'),
    url('../font/proxima_regular/proxima-nova-regular.svg#youworkforthem') format('svg');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ProximaNova';
    src: url('../font/proxima_bold/proxima-nova-bold.eot');
    src: url('../font/proxima_bold/proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
    url('../font/proxima_bold/proxima-nova-bold.woff2') format('woff2'),
    url('../font/proxima_bold/proxima-nova-bold.woff') format('woff'),
    url('../font/proxima_bold/proxima-nova-bold.ttf') format('truetype'),
    url('../font/proxima_bold/proxima-nova-bold.svg#youworkforthem') format('svg');
    font-weight: 600;
    font-style: normal;
  }

* {
    box-sizing: border-box;
    font-family: 'ProximaNova', sans-serif;    
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;   
    line-height: 1.6;
    color: $dark-blue;
}

header {
    max-width: 1400px;
    width: 100%;
    margin: auto;    
    text-align: center;
    
    img { width: 100%; }
}


h1 {
    max-width: 80%;
    margin: auto;
    font-size: calc(30px + 3vw);
    line-height: 1.2;
}

h2 {
    text-align: center;
    background-color: $dark-blue;
    color: white;
    text-transform: uppercase;
    padding: 20px 0;
}

.subtitle, 
h4, 
p.main-text {
    width:90%;
    max-width: 700px;
    margin: 10px auto;   
    font-size: 20px; 
    line-height: 1.6;
}

.subtitle {
    margin: 50px auto;
}

h4 {
    margin: 50px auto 10px ;  
    font-size: 1.3em;  
}


//картка
#play-card-wrapper {
    display: flex;
    margin: 50px auto;
    padding: 50px 0;
    width: 100%;    
    background-color: #364564;    

    #play-card {
        max-width: 700px;
        width:90%;
        margin: auto;
        display: flex;
        align-items: center;
        @media(max-width:600px) and (orientation: portrait){
            display: block;
        }

        #form {
            width: fit-content;
            max-width: 100%;
            display: table;
        }

        p.form-title {
            display: block;
            font-size: 25px;
            font-weight: bold;            
            color: white !important;           
        }       

        img {
            max-width: 200px;
            margin:auto;
            display: block;
        }
         
        #action-form, #correct-answer {
            height: 50px; 
            display: grid;
            grid-template-columns: 1fr 1fr;           
        }

        #correct-price {
            /* background-color: white; */
            text-align: center;
            font-size: 30px;            
            font-weight: bold;
            border: 1px solid white;
            background-color: $dark-blue;
            color: white;
            margin: 1px -1px 1px;
        }

        #test-result {
            background-color: white;
            text-align: center;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            border: 1px solid $dark-blue;

            text {
                margin: auto;
            }
        }

        #correct-answer {
            display: none;
        }
    }   
}

//BUTTONS
.btn {    
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

#btn-play-again {
    display: none;
    text-align: center;
    margin: 10px auto 0;
    text-align: center;
    background-color: #324563;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary {  
    font-size: 16px;  
    border: 1px solid white;
    background-color: $dark-blue;
    text-align: left;
    color: white;
}

.btn-clear-all {
    display: block;
    background-color: white;
    margin: auto 20px;
    border: 1px dashed $red;
    color: $red; 
}

.btn-danger {
    color: $red;
    background-color: white;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    color: black;
}

#guess {
    font-size: 30px;
    min-width:0px;
    //max-width: 245px;
    font-weight: bold;
    text-align: center;
    border: 1px solid white;
    background-color: $dark-blue;
    color: white;
    margin: 1px -1px 1px;
}

input[type="submit"]{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: $dark-blue;

}



//BOARD
main {
    max-width: 1400px;
    margin:auto;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    @media(max-width: 800px){
        display: block;
    }

    h2 {
        grid-column:1/-1;
    }
}

.container {   
    margin: 0 auto;
    padding: 0 1.5em;
}

.container-left {
    background-color: $dark-blue;
    color: white;
    width: 100%;
}

#board {
    position:sticky; 
    top:0; 
    height:max-content;
}

.section-header {
    font-weight: bold;
    color: $dark-blue;  
     font-size: 1.5em; 
}

//список продуктів
.categories {
    display: block;
    flex-wrap: wrap;
    margin-bottom: 100px;
    border-right: 1px solid $dark-blue;
 } 

//блок товарів у категорії
.shop-item-wrapper {
    margin-top: 10px;
    margin-left: 30px;
    transition: max-height 2s ease-out;
    max-height: max-content;
}

//сховані
.hidden {
    max-height:0;
    overflow-y: hidden;
    transition: max-height 2s ease-out;
}

.icon {
    width:30px;    
    margin-bottom: -10px;
    margin-right: 5px;
    opacity:0;
}

//plus-minus
.toggle-inbox {
   display: none;
}

.label {
    font-size: 18px;

}

.toggle-inbox:not(:checked) + label:after {
    cursor: pointer;
    position: relative;
    top: 0px;
    content: "+";
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: scale(1.3);
    margin-right: 0.5em;
    margin-left: 1.0em;
    color: white;;
}

.toggle-inbox:checked +.label::after {
    cursor: pointer;
    position: relative;
    top: 0px;
    content: "—";
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: scale(1);
    margin-right: 0.5em;
    margin-left: 1.0em;
    color: white;
}

.shop-item-clicked {
    background-color: white;;
    color: $dark-blue;
}

.shop-item-details {   
    color: $dark-blue;
    padding: 5px;    

    .shop-item-price, .shop-item-mode-weight,  .shop-item-title {
        display: none; 
    }
} 


//BOARD
.cart-header {
    font-style: italic;
    font-size: 1em;
    color: $dark-blue;
}

.cart-column {
    flex-wrap: wrap;
    display: flex;    
    align-items: center;   
}

.last-column {
    display: grid;
    grid-template-columns: auto 20px;
}


//selected items
.cart-items {
    padding-bottom: 20px;
    border-bottom: 2px solid $dark-blue;
    max-height: 40vh;
    overflow-y: auto;
}

.cart-row {
    font-size: 1em;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr 3fr 0.5fr;    
    @media(max-width:600px) and (orientation: portrait) {
        font-size: 0.7em;
        grid-template-columns: 3fr 3fr 3fr 3fr 3fr 0.5fr;
    }
}

.cart-items {
    .cart-column:not(.cart-quantity) {
        border-bottom: 1px dashed $dark-blue;
    }   
}

.cart-row:last-child {
    .cart-column:not(.cart-quantity) {
        border-bottom: none;
    }      
}  

.cart-quantity {
    margin: 0 auto;
}

.cart-quantity-input {
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: 1px solid #64BAAA;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin: 5px auto;
    @media(max-width: 600px) and (orientation: portrait) {
        width: 50px;
    }
}

.cart-total {
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 3fr;
    text-align: left;
    margin-top: 10px;
    margin-right: 10px;
    @media(max-width: 600px) and (orientation: portrait){
        grid-template-columns: 6fr 3fr 3fr 3.5fr
    }
}

select {
    padding:1px;
    font-style: italic;
    font-size: 1em;
}

.cart-total-title {
    font-weight: bold;
    color: black;
    margin-right: 20px;
}

.cart-total-last, .cart-total-previous {
    color: #333;
    font-size: 1.1em;
}

#cart-total-infliation * {
    font-weight: bold;
}

.infliation-total-calculated {
    color: $red;
    font-weight: bold
}

.hint {
    font-size:12px;    
}

.infliation-calculated, .hint-red {
    color: $red;
}

.hint-ordinal {
    color: $dark-blue;
}


#charts-legend {
    display: none;
    width: max-content;
    margin: 0 auto 20px auto;
}


g.tick line{
    stroke-dasharray: 3 3;
    opacity: 0.4;
}


//СТАТИЧНИЙ ГРАФІК ДЕРЖСТАТ VS СУПЕРМАРКЕТ
#static_chart {    
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
  
    svg {
        margin-right: 10px;
    }
}

path.domain {
    display: none;
}